html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --main-hero-color: #2e2f42;
  --main-text-color: #434455;
  --main-background-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}


.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo_d {
  color: #2e2f42;
}

.logo_w {
  color: #f4f4fd;
}

.nav_logo {
  display: flex;
  gap: 72px;
}

/*END logo */

/*                                Header                                */

.head_bor {
  border-bottom: 1px solid #e7e9fc;
}

.head {
  padding: 24px 0px;
}

.head_display {
  display: flex;
  justify-content: space-between;
}

.head_list {
  display: flex;
  gap: 40px;
}

/* nav */
.menu {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu:focus,
.menu:hover {
  color: #404bbf;
}

/* END nav  */
/* --------- */
/* addres  */

.addr {
  font-style: normal;
}

.addr_a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.addr_a:hover,
.addr_a:focus {
  color: #404bbf;
}

/* END addres */

/*                                END header             */
/* ----------------------------------------------------- */
/*                                Main index             */

/* order */

.order {
  max-width: 1440px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
  url(../images/people-office\ 1\ .jpg);
    background-size: cover;
    background-position: center;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}


.order_t {

  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
  margin-left: auto;
margin-right: auto;
}







.order_button {
  display: block;
  margin: 0 auto;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.order_button:hover,
.order_button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* END order */
/*-----------*/
/* features  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  .privilages-list{
    display: flex;
    gap: 24px;
}

.privilages-item{
  flex-basis: calc((100% - 72px) / 4);
}

  .icon-box {
    left: 0px;
    top: 0px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px; 
}
.icon{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features {
  padding: 120px 0px;
}

.featu_h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.featu_t {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* END features */
/* ------------ */
/* doing        */
.doing {
  padding-bottom: 120px;
}
.doing_h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.doing_list {
  display: flex;
  gap: 24px;
}

/* END doing    */
/* ------------ */
/* Team         */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team_h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team_member {
  background-color: #ffffff;
}

.team_list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team_member_h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team_member_t {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team_member_ht {
  padding: 32px 16px;
}
.team_member_ht{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 2px 1px 
    rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}


.team-network {
  display: flex;
  gap: 24px;}
  
  .social-netwerk-link {
    width: 40px;
    height: 40px;
    background-color:  #4D5AE5;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }

    .social-netwerk-icon {
      fill:  #F4F4FD;
    width: 16px;
    height: 16px;
    }


.Customers{
  padding: 120px 0px;
}

.costom_h{
  font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}

.costomers_list{
  display: flex;

  gap: 24px;
 
}
.customers_item{
 
  display: list-item;
  text-align: -webkit-match-parent;
  }

.customers_link{

  border: 1px solid  #8E8F99;
  border-radius: 4px;
  fill: #8E8F99;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 168px;
  height: 88px;
}







.customers_icon{
  width: 104px;
  height: 56px;
  fill: currentColor;
  fill: #8E8F99;
}
.customers_link:hover,
.customers_link:focus{
fill: #404BBF;;
border-color: #404BBF;
}



/* END Team     */

/*                                END Main index         */
/* ----------------------------------------------------- */
/*                                Main portfolio         */
.portal {
  padding: 96px 0 120px 0;
}

.button_link {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.nav_button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;

  border-radius: 4px;
  border: 0;
  padding: 12px 24px;
}

.nav_button:hover,
.nav_button:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.foto_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;

  order: 3;
  background: #ffffff;
  flex-basis: calc(100% / 3);
}
.foto_img {
  display: block;
}

.foto_li:hover{
  box-shadow: 0px 1px 6px 
  rgba(46, 47, 66, 0.08), 0px 1px 1px 
  rgba(46, 47, 66, 0.16), 0px 2px 1px
   rgba(46, 47, 66, 0.08);
}


.foto_text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.main_sect_h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.main_sect_t {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*                                END Main portfolio         */

/* footer      */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
    padding-bottom: 100px;
  color: #e7e9fc;
}

.footer_text {
  margin-top: 16px;
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
width: 264px;

}

.footer_cont{
  display: flex;
}
.cont_inline{
  margin-right: 120px;
}
.footer_media{
  margin-right: 80px;
}
.soctext{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
line-height: 1.5;
margin-bottom: 16px;
}
.social_list{
  display: flex;
  gap: 16px;
}

.social_item{
  width: 40px;
  height: 40px;
}
.ikons_soc{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_ikons{
  fill: #f4f4fd;
}
.ikons_soc:hover
{ background: #31D0AA;}



/* END footer */
